<div ng-controller="obaveze">
    <div class="jumbotron">
      <h3>My Assignments</h3>    
    <div ng-repeat="o in obaveze | orderBy: sortOrder"> 
    <br />

                   <div ng-if= "o.label == 0" > 
                        <div class="alert alert-success">

                            Task <b>{{o.task}}</b> in list <b>{{o.list}}</b> within board <a ng-click ="preusmjeri(o.id)"><b>{{o.board}}</b></a>. 

                        </div>
                   </div>
                   <div ng-if= "o.label == 1"> 
                        <div class="alert alert-danger">...

                            Task <b>{{o.task}}</b> in list <b>{{o.list}}</b> within board <a ng-click ="preusmjeri(o.id)"><b>{{o.board}}</b></a>. 

                        </div>
                   </div>     
        






        
    
    </div>
             
    </div>
</div>    
