                      

<div ng-controller="NoviBoard">
                              
                              <!--KREIRANJE BOARDA 
                              <form role="form">
                                <div class="form-group">
                                    <label for="noviBoard">Novi board:</label>
                                    <input type="text" class="form-control" id="noviBoard" ng-model="NoviBoard.name" placeholder="Unesi naziv boarda">

                                </div>
                                   <button type="submit" class="btn btn-primary" ng-click="submitBoard()">Kreiraj</button>
                               </form>   -->
                                    
  
     <span style ="color:cadetblue; font-size:larger; font-weight:bold">My boards</span>
    
     <div ng-repeat="b in boardsList | orderBy: sortOrder"> <!--ng-class-even ="'md-col-6'" ng-class-odd="'row'"--> 
         <br />
         <div class="btn-group">
            <button type="button" class="btn btn-info btn-lg" ng-click="pregled(b.idBoard)" style="width:4cm; height:2.5cm; "> {{b.title | uppercase}}</button>
    </div>     
         </div>
                          
</div>