
<div ng-controller="Login" >

    <script src="{{login.jezik}}"></script>
    <BR>      
    
    <nav class ="navbar navbar-inverse navbar-fixed-top " style="background-color:black; vertical-align:central;" role="navigation">
        <table>
            <tr>
                <td style ="width:15cm">
                     <img src="index_slicice/logo.png" />
                </td>
                <td style ="width:10cm">
                </td>
                <td style ="width:15cm ;">
                            <table >
                                <tr>
                                    <td style ="width:3.25cm;">
                                    </td>
                                    <td style ="width:3cm; color:#E6D6E6">Language
                                    </td>
                                    <td style ="width:3cm; color:#E6D6E6">Username
                                    </td>
                                    <td style ="width:3cm; color:#E6D6E6">Password
                                    </td>
                                    <td style ="width:2cm">
                                    </td>
                                 </tr>

                                <tr>
                                    <td style ="width:4cm;">
                                    </td>
                                    <td style ="width:3cm; ">
                                            <select  ng-model="login.language">
                                                <option value="english" selected="selected">English</option>
                                                <option value="arabic">中國的</option>
                                                <option value="bosanski">Bosanski</option>
                                            </select> 
                                    </td>
                                    <td style ="width:3cm;">
                                        <input type="text" id="Text1" ng-model="login.name" style ="width:2.5cm"/>
                                    </td>
                                    <td style ="width:3cm;">
                                        <input type="password" id="Password2" ng-model="login.pass" style ="width:2.5cm" />
                                    </td>
                                    <td style ="width:2cm;">
                                        <button  ng-click="login.submitTheForm()" class="btn btn-danger" style="height:0.7cm; width:1.8cm">Log In </button>
                                    </td>
                                 </tr>

                            </table>

                </td>
            </tr>    
         </table>
    </nav>      


    <BR>
    <br>
    <br>
    <br>

    <table>

        <tr>
        
            <td style="width:15cm; border-right:solid; border-right-color:black">
                <img src="index_slicice/tB1CAMv.png" />
            </td>
            <td style="width:2cm;"></td>
            <td>
                <span style="font:bold 20px arial">Sign up today!</span>
                <div ng-controller="Registracija" >
           
                    <BR>
                     <form name="userForm" ng-submit="submitForm()" novalidate>

                        <!-- NAME -->
                        <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
                            <input type="text" style="height:1.3cm; width:9.1cm" name="name" class="form-control" ng-model="user.name" required placeholder="Username">
                            <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">You name is required.</p>
                       </label>
                             </div>
      
                      <!--  PASSWORD -->
                        <div class="form-group" ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$pristine }">
                            
                            <input type="password" style="height:1.3cm; width:9.1cm" name="username" class="form-control" ng-model="user.username" ng-minlength="3" ng-maxlength="8" placeholder="Password">
                            <p ng-show="userForm.username.$error.minlength" class="help-block">Password is too short.</p>
                            <p ng-show="userForm.username.$error.maxlength" class="help-block">Username is too long.</p>
                        </div>
        
                        <!-- EMAIL -->
                        <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
                           
                            <input type="email" style="height:1.3cm; width:9.1cm" name="email" class="form-control" ng-model="user.email" placeholder="Email">
                            <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
                        </div>
        
                        <button type="submit" style="height:0.9cm; width:9.1cm; padding:0px" class="btn btn-success" ng-disabled="userForm.$invalid">Sign Up</button>
        
                    </form>
                </div>

            </td>        
        </tr>
    </table>
</div>
