
<br />





    
        
        
<div ng-controller="MainSchedulerCtrl">

    <button class="btn btn-default " data-toggle="modal" data-target="#myModal7">
  + Add event
</button>



    <!----------------->
    <!-- DODAJ BOARD -->
    <!----------------->
<div class="modal fade" id="myModal7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 350px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <td style="text-align: right">




                            <!--KREIRANJE BOARDA -->
                            <form role="form">
                                <div class="form-group">
                                    <label for="noviEvent">Title:</label>
                                    <input type="text" class="form-control" id="noviEvent" ng-model="NoviEvent.title" >
                                </div>

                                 <div class="form-group">
                                    <label for="start">Start date:</label>
                                    <input type="date" class="form-control" id="start" ng-model="NoviEvent.start" >
                                </div>

                                <div class="form-group">
                                    <label for="end">End date:</label>
                                    <input type="date" class="form-control" id="end" ng-model="NoviEvent.end" >
                                </div>

                                <button type="submit" class="btn btn-primary" ng-click="submitEvent()">Add event</button>
                            </form>

                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->

	<div data="events" dhx-scheduler style="height:400px; width:700px;">
		<div class="dhx_cal_prev_button">&nbsp;</div>
		<div class="dhx_cal_next_button">&nbsp;</div>
		<div class="dhx_cal_today_button"></div>
		<div class="dhx_cal_date"></div>
		<div class="dhx_cal_tab" name="day_tab" style="right:204px;"></div>
		<div class="dhx_cal_tab" name="week_tab" style="right:140px;"></div>
		<div class="dhx_cal_tab" name="month_tab" style="right:76px;"></div>    

		
		</div>

    
	</div>

                

        