

<div ng-controller="NoviList">        
    
    <table>
        <tr>
            <td style="width:12cm; vertical-align:text-top">

                  <div ng-controller="ViewBoard">
                     <div class="panel" >                 
                     <span style ="color:cadetblue; font-size:larger; font-weight:bold">Overview</span>
                           <div class="panel-body">
                           <p>  Title: {{board.title}}</p>
                           </div>
                         </div>
                  </div>                              
            </td>  
            <td style="text-align:right; vertical-align:text-top"></td>                     
        </tr>
        <tr>
            <td>
                 <span style ="color:cadetblue; font-size:larger; font-weight:bold">Lists</span>
                  <div ng-repeat="l in list | orderBy: sortOrder"> <!--ng-class-even ="'md-col-6'" ng-class-odd="'row'"--> 
                 <br />
                      <div class="panel-group">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title">{{l.title | uppercase}}</h3>
                          </div>
                          <div class="panel-body">
                            
                              
                                 
                                <div ng-repeat="d in task | orderBy: sortOrder">   
                                <br />
                                    <div ng-if= "d.ownerList == l.idList">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-info btn-lg" ng-click="pregled(d.idList)" id="{{d.idTask}}" style="width:4cm; height:1.5cm; "> {{d.title | uppercase}}</button>
                                </div> 
                                     </div>
                            </div>                            
                            </div> 


                        </div>

                        </div>     
                    </div>
                  </div>
            </td>             
            <td style="text-align:right; vertical-align:text-top">

                <div class="btn-group-vertical">
                    <button class="btn btn-default " data-toggle="modal" data-target="#myModal6">
                      + Add user
                    </button>
                </div>
                 <div class="btn-group-vertical">
                    <button class="btn btn-default " data-toggle="modal" data-target="#myModal7">
                      + Add list
                    </button>
                </div>

    <!---------------->
    <!-- DODAJ USER -->
    <!---------------->
<div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog"  style ="width : 350px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
            <div ng-controller="AddUser" >
            <form><table><tr><td style =" text-align : right">


         <!-- PRETRAGA KORISNIKA PO USERNAME-U -->

            <div class="input-group">
            <span>Username</span>   
            <input type="text" id="username" class="form-control" ng-model="addUser.username" />
                <br/>
                <br/> </div>
            <button class="btn btn-default" ng-click="addUser.submitTheForm()">Add</button>
           
            </td></tr></table></form></div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

    <!---------------->
    <!-- DODAJ LIST -->
    <!---------------->
<div class="modal fade" id="myModal7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog"  style ="width : 350px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
          <table><tr><td style =" text-align : right">   

                                  <!--KREIRANJE LISTE -->
                              <form role="form">
                                <div class="form-group">
                                    <label for="noviBoard">New list name:</label>
                                    <input type="text" class="form-control" id="noviList" ng-model="NoviList.name" >

                                </div>
                                   <button type="submit" class="btn btn-primary" ng-click="submitList()">Add</button>
                               </form> 
           
            </td></tr></table>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


            </div>
        </td>
    </tr>
</table>