    <nav class ="navbar navbar-inverse navbar-fixed-top" style="background-color:#F5EAFF; z-index:0; border-bottom-color:#F5EAFF; height:1.3cm; vertical-align:central; margin-top:70px" role="navigation">
        <table style="min-width:1000px">
            <tr>
                <td style ="width:70%">

                    <table><tr>
                        <td>                        
                                   <div>
                                       <span style ="color:black; font-size:x-large; font-weight:bold">My profile</span>
                                   </div>
                        </td>
                        </tr>
                    </table>
         
                </td>
                <td style ="width:auto ;">
                </td>
                <td style ="width:30% ;">
                </td>
            </tr>    
         </table>
    </nav> 


    <div ng-controller="Username" style="background-color:black; margin-top:120px; width:800px; height:280px">

        <table><tr>
            <td >
                 <div style="margin-left:20px; margin-top:20px">                
                     <div class="media" style="border:dashed; border-color:#F5EAFF">
                        <img class="media-object" ng-src={{image}} alt="" style=" height:240px; width:240px"/>
                      </div>   
                 </div>
            </td>
            <td style="margin-left:130px; width:560px;">
                <br><br>
                <table>
                    <tr>
                        <td style="text-align:right;"> <h5 >Username: &nbsp; </h5></td>
                        <td style="text-align:left;"> <h4 style="color:#F5EAFF;"> {{username3}} </h4> </td>
                    </tr>
                    <tr>
                        <td style="text-align:right;"> <h5 >Email: &nbsp; </h5></td>
                        <td style="text-align:left;"> 
                            <h4 style="color:#F5EAFF;"> {{email3}}</h4>   
                        </td>
                    </tr>
                </table><br><br><br><br><br>
                <div class="btn-group">                            
                            <button class="btn btn-primary2 " data-toggle="modal" data-target="#myModal2">
                              Change password
                            </button>
                            <button class="btn btn-primary2 " data-toggle="modal" data-target="#myModal3">
                              Change avatar
                            </button>
                            <button class="btn btn-primary2 " data-toggle="modal" data-target="#myModal1">
                              Change email
                            </button>
                            <button class="btn btn-primary2 " style="color:silver" data-toggle="modal" data-target="#myModal4">
                              Delete account
                            </button>
                            </div>
            </td></tr>
        </table>


    </div>



<!-- IZMJENA EMAIL-A -->

<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"data-dismiss="modal" aria-hidden="true">
  <div class="modal-dialog"  style ="width : 350px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
            <div ng-controller="Username" >
            <form><table><tr><td style =" text-align : right">
            <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span> E-mail</span>
              <input type="text" class="form-control" style="color:black"ng-model="updateEmail.email">
            </div>
            <BR>
            <button data-dismiss ="modal" type="submit" class="btn btn-primary" ng-click="updateEmail.submitTheForm()">Save</button>
            </td></tr></table></form>
            </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- IZMJENA PASSWORD-A -->

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-dismiss="modal" aria-hidden="true">
  <div class="modal-dialog"  style ="width : 350px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
            <div ng-controller="UpdatePassword" >
            <form><table><tr><td style =" text-align : right">
            <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span> Old</span>
              <input type="password" style="color:black" class="form-control" ng-model="updatePassword.stari">
            </div>
            <BR>
            <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span> New</span>
              <input type="password" style="color:black" class="form-control" ng-model="updatePassword.novi">
            </div><BR>
            <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span> Repeate</span>
              <input type="password" style="color:black" class="form-control" ng-model="updatePassword.repeate">
            </div><BR>
            <button  data-dismiss ="modal" type="submit" class="btn btn-primary" ng-click="updatePassword.submitTheForm()">Save</button>
            <button data-dismiss ="modal" type="submit" class="btn btn-primary" onclick="reject()">Reject</button>
            </td></tr></table></form>
                </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


 <!-- IZMJENA AVATAR-A -->

<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-dismiss="modal" aria-hidden="true">
  <div class="modal-dialog"  style ="width : 350px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
       
            <!-- CODE 1 -->
  
<div ng-controller = "myCtrl">
    <input type="file" file-model="myFile"/>
    <br/>
    <button class="btn btn-primary" data-dismiss="modal" ng-click="uploadFile()">Upload</button>
</div>
         
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->  
   
    
    
<!-- BRISANJE -->

<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-dismiss="modal" aria-hidden="true">
  <div class="modal-dialog"  style ="width : 350px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
            <div ng-controller="UpdateUsername" >
            <form><table><tr><td style =" text-align : right">
                Are you sure you want to delete your account. All your date will be permanently erased.
        <button data-dismiss ="modal" type="submit" class="btn btn-danger"  ng-click="brisanjeKorisnika.submitTheForm()"> Delete my account  </button>
    <!-- <span style ="height : 20px; font-size : smaller; top:-8px; position:relative; vertical-align : text-top "> I want to delete my Trollo account</span></button> -->
    
            </td></tr></table></form>
                </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal --> 

