@model Trollo.user

@{
    ViewBag.Title = "Delete";
    TempData["korisnik"] = User ;
}
 @Styles.Render("~/Content/bootstrap.css")
    @Scripts.Render("~/bundles/modernizr")
<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>

@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
       
    </p>
}
