@model Trollo.user
@{
    ViewBag.Title = "Affirmation";
}
 @Styles.Render("~/Content/bootstrap.css")
    @Scripts.Render("~/bundles/modernizr")
<h2>Potvrda</h2>




<p>
    Zahvaljujemo se na registraciji. Molimo da provjerite uneseni email radi 
    potvrde zahtjeva klikom na link. Time je proces registracije završen.
</p> 